<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CZViewControllerTransition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A3EAA291BE8A52A0019DD90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A3EAA421BE8A52A0019DD90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A3EAA4D1BE8A52A0019DD90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
